<div class="board">
    <div class="row">
        <div class="col-12 col-md-8">
            <svg
            id="svgGraphsBoard"
            width="1000"
            height="800"
            viewBox="0 0 1000 800"
            (dblclick)="drawNewVertex($event)"
            (mousemove)="onMouseMoveOnBoard($event)"
            (mouseup)="dropDraggedVertex($event)">

            <line *ngFor="let edge of edges"
            [attr.x1]="edge.x1"
            [attr.y1]="edge.y1"
            [attr.x2]="edge.x2"
            [attr.y2]="edge.y2"
            [attr.stroke]="edge.stroke"
            [attr.stroke-width]="edge.strokeWidth"
            (click)="onClickEdge(edge.id)">
                <title>
                    {{ edge.id }}
                </title>
            </line>

            <circle *ngFor="let vertex of vertexs"
            [attr.cx]="vertex.cx"
            [attr.cy]="vertex.cy"
            [attr.r]="vertex.r"
            [attr.fill]="vertex.fill"
            [attr.stroke]="vertex.stroke"
            [attr.stroke-width]="vertex.strokeWidth"
            (click)="onClickVertex(vertex.id)"
            (mousedown)="selectDraggableVertex(vertex.id)">
                <title>
                    {{ vertex.id }}
                </title>
            </circle>

            </svg>
        </div>
        <div class="col-12 col-md-1">

        </div>
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h5>Graph Info</h5>
                </div>
                <div class="card-body">
                    <p>Graph order: {{ graphOrder }}</p>
                    <p>Graph size: {{ graphSize }}</p>
                    <p>Graph degree: {{ graphDegree }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
            <button class="btn btn-warning" (click)="clearGraphsBoard()">RESET</button>
            <button class="btn btn-danger" (click)="removeFromGraphsBoard()">REMOVE</button> 
    </div>
</div>