svg {
    border: 1px solid black;
}

.svg-disabled {
    background-color: white;
}

.svg-active {
    background-color: grey;
}

.board {
    margin: 10px;
}

circle {
    cursor: pointer;
}

line {
    cursor: pointer;
}

polyline {
    cursor: pointer;
}