<div class="board">
    <div class="row">
        <div class="col-12 col-md-7">
            <svg
            id="svgGraphsBoard"
            width="1000"
            height="800"
            viewBox="0 0 1000 800"
            >
            </svg>
        </div>
        <div class="col-12 col-md-1">

        </div>
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h5>Graph Info</h5>
                </div>
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Graph Menu
        </div>
    </div>
</div>
